body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/fondo-mapa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333333;
    height: 80vh;
}

/* --------------------- */
/* ------ Header ------- */
/* --------------------- */

.header-principal {
    background-color: #435162;
    position: fixed;
    height: 60px;
    top: 0;
    text-align: center;
    width: 100%;
}

.header-principal section {
    margin: 0 auto;
    max-width: 1024px;
}

.header-principal div {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    width: 32%;
}
.header-principal div:nth-child(1) {
    text-align: left;
}
.header-principal div:nth-child(3) {
    text-align: right;
}

.invitar-amigo, .logo-principal {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
}

.mejorar-cuenta, .mejorar-cuenta:link, .mejorar-cuenta:visited {
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin: 0 8px 0 auto;
    padding: .5em;
    text-decoration: none;
}
.mejorar-cuenta:hover {
    background-color: #16C4DC;
    border-color: #16C4DC;
}
.mi-cuenta-basica {
    color: white;
    display: inline-block;
    font-weight: 300;
}

.logo-principal img {
    height: 36px;
    margin: 0 auto;
    padding: 12px 0;
    vertical-align: middle;
}

.avatar-usuario {
    display: inline-block;
    margin: 0 5px 0 auto;
    padding: 0;
    vertical-align: middle;
}
.avatar-usuario img {
    height: 30px;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
}

/* ----------------------------- */
/* ------ Menú Principal ------- */
/* ----------------------------- */

.menu-ciudad {
    color: #16C4DC;
    font-size: 12px;
}
.menu-nombre {
    color: white;
}

.menu-principal {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
}
.menu-principal li {
    list-style: none;
    padding: 0;
    text-align: left;
}
.menu-principal li ul {
    background-color: #435162;
    border-radius: 3px;
    display: none;
    font-weight: 300;
    padding: 0 .5em .5em .5em;
    width: 165px;
}
.menu-principal li:hover ul {
    display: inline-block;
    position: absolute;
    margin-left: -20px;
}

.menu-principal li ul li {
    font-size: 14px;
    padding: .5em 0 .5em .75em;
    vertical-align: middle;
}
.menu-principal li ul li:first-child {
    font-size: 16px;
    font-weight: 400;
    margin: .75em auto .5em auto;
    padding: 0 0 .5em 0;
    text-align: center;
    width: 90%;
}
.menu-principal li ul li:first-child:hover {
    background-color: transparent;
}
.menu-principal li ul li:hover {
    background-color: #4b5e76;
    border-radius: 3px;
}
.menu-principal li ul li img {
    margin-right: .5em;
    vertical-align: middle;
    width: 18px;
}

.menu-principal li ul li:first-child {
    border-bottom: 2px solid #4B5E6D;
}
.saldo-color {
    color: #39B54A;
}

/* --------------------------------- */
/* ------ Tarjeta Contenedor ------- */
/* --------------------------------- */

.tarjeta-bienvenida {
    background-color: #F4F4F4;
    border-radius: 3px;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
    margin: 120px auto 0 5%;
    height: 465px;
    width: 320px;
}
.tarjeta-bienvenida article {
    text-align: center;
}
.tarjeta-bienvenida article figure {
    margin: 0 auto;
    padding: 80px 0 20px 0;
}
.tarjeta-bienvenida article figure img {
    width: 125px;
}
.tarjeta-bienvenida h3 {
    margin: 0 auto;
}

/* ---------------------------------------- */
/* ------ Agregar Lugar de Recogida ------- */
/* ---------------------------------------- */

.tarjeta-agregar-recogida {
    background-color: #F4F4F4;
    border-radius: 3px;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
    margin: 120px auto 0 5%;
    overflow-y: scroll;
    height: 465px;
    width: 320px;
}
.instrucciones {
    font-size: 14px;
}
.tarjeta-agregar-recogida article {
    text-align: center;
}
.tarjeta-agregar-recogida article figure {
    margin: 0 auto;
    padding: 80px 0 20px 0;
}
.tarjeta-agregar-recogida article figure img {
    width: 125px;
}
.tarjeta-agregar-recogida h3 {
    background-color: white;
    border-radius: 3px 3px 0 0;
    margin: 0 auto;
    padding: .5em 0;
}

.tarjeta-agregar-recogida form {
    padding: 1em 0;
}

.tarjeta-agregar-recogida input {
    border-radius: 3px;
    border: 1px solid #D5D5D5;
    margin: 0 auto .75em;
    padding: 2% 0 2% 3%;
    width: 87%;
}

/* -------------------------------------- */
/* ------ Mis Lugares de Recogida ------- */
/* -------------------------------------- */

.tarjeta-mis-lugares-de-recogida {
    background-color: #F4F4F4;
    border-radius: 3px;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
    margin: 120px auto 0 5%;
    height: 465px;
    width: 320px;
}
.tarjeta-mis-lugares-de-recogida article {
    text-align: center;
}
.tarjeta-mis-lugares-de-recogida article figure {
    margin: 0 auto;
    padding: 80px 0 20px 0;
}
.tarjeta-mis-lugares-de-recogida article figure img {
    width: 125px;
}
.tarjeta-mis-lugares-de-recogida h3 {
    background-color: white;
    border-radius: 3px 3px 0 0;
    margin: 0 auto;
    padding: .5em 0;
}

.box-mis-lugares {
    background-color: white;
    border-radius: 3px 3px 0 0;
    height: 220px;
    overflow-y: scroll;
    margin: 0 auto;
    width: 90%;
}
.lugar {
    border-bottom: 1px solid #F4F4F4;
}
.lugar:hover {
    background-color: #16C4DC;
}
.lugar:hover button {
    border: 2px solid rgba(244, 244, 244, 0.3);
    color: rgba(244, 244, 244, 0.5);
}
.lugar:hover p {
    color: white;
    font-weight: 400;
}
.lugar p {
    color: #555;
    display: inline-block;
    font-size: 14px;
    margin: 20px 4px 20px 8px;
    text-align: left;
    vertical-align: middle;
    width: 160px;
}
.lugar figure {
    background-image: url("../img/pin-azul.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block !important;
    height: 31px;
    margin: 0 auto !important;
    padding: 0 !important;
    vertical-align: middle;
    width: 23px;
}
.lugar figure img {
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    width: 25px !important;
}
.lugar button {
    border: 2px solid #F4F4F4;
    border-radius: 3px;
    background-color: transparent;
    color: #D5D5D5;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 200;
    vertical-align: middle;
    
}
.lugar button:hover {
    background-color: white;
    border: 2px solid white;
    color: #16C4DC;
    font-weight: 400;
}

.pago-vehiculo {
    margin: 25px auto 5px auto;
    width: 90%;
}
.pago-vehiculo div {
    color: #B3B3B3;
    font-size: 12px;
    vertical-align: middle;
}
.personal {
    border-right: 2px solid #EAEAEA;
    display: inline-block;
    text-align: left;
    width: 75%
}
.personal img {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
}
.personal p {
    display: inline-block;
    vertical-align: middle;
}

.vehiculo {
    display: inline-block;
    text-align: center;
    width: 20%
}
.vehiculo img:nth-child(1) {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
}

.arrow-select {
    margin: 0 5px;
    vertical-align: middle;
    width: 10px !important;
}

/* ---------------------------------------- */
/* ------ Agregar Lugar de Entrega ------- */
/* ---------------------------------------- */

.tarjeta-agregar-entrega {
    background-color: #F4F4F4;
    border-radius: 3px;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
    margin: 120px auto 0 5%;
    overflow-y: scroll;
    height: 465px;
    width: 320px;
}
.instrucciones {
    font-size: 14px;
}
.tarjeta-agregar-entrega article {
    text-align: center;
}
.tarjeta-agregar-entrega article figure {
    margin: 0 auto;
    padding: 80px 0 20px 0;
}
.tarjeta-agregar-entrega article figure img {
    width: 125px;
}
.tarjeta-agregar-entrega h3 {
    background-color: white;
    border-radius: 3px 3px 0 0;
    margin: 0 auto;
    padding: .5em 0;
}

.tarjeta-agregar-entrega form {
    padding: 1em 0;
}

.tarjeta-agregar-entrega input {
    border-radius: 3px;
    border: 1px solid #D5D5D5;
    margin: 0 auto .75em;
    padding: 2% 0 2% 3%;
    width: 87%;
}

.tarjeta-agregar-entrega iframe {
    margin-bottom: 10px;
}

/* ----------------------- */
/* ------ Buscando ------- */
/* ----------------------- */

.alerta-buscando {
    background-color: #F4F4F4;
    border-radius: 3px;
    margin: 20% auto 0 auto;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
    height: 160px;
    width: 320px;
}
.alerta-buscando h1 {
    font-size: 16px;
    margin: 0 auto;
    padding: 15px 0 5px 0;
    text-align: center;
}
.alerta-buscando p {
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
}
.alerta-buscando h2 {
    color: #16C4DC;
    font-size: 16px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}
.buscando-loading {
    margin: 0 auto;
    text-align: center;
}
.buscando-loading img {
    width: 52px;
}

/* ---------------------------- */
/* ------ No Disponible ------- */
/* ---------------------------- */

.alerta-no-disponible {
    background-color: #435162;
    border-radius: 3px;
    margin: 200px auto 0 auto;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
    height: 160px;
    text-align: center;
    width: 320px;
}
.alerta-no-disponible h1 {
    color: #ff5565;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    padding: 20px 0 5px 0;
    text-align: center;
}
.alerta-no-disponible p {
    color: white;
    font-size: 12px;
    font-weight: 300;
    margin: 10px auto 0 auto;
    text-align: center;
    width: 90%;
}
.alerta-no-disponible h2 {
    color: #16C4DC;
    font-size: 16px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}
.abajo {
    margin: 30px auto 0 auto !important;
}

/* --------------------- */
/* ------ Reglas ------- */
/* --------------------- */

.alerta-reglas {
    background-color: #435162;
    border-radius: 3px;
    margin: 200px auto 0 auto;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
    height: 320px;
    text-align: center;
    width: 400px;
}
.alerta-reglas h1 {
    color: #16C4DC;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    padding: 10px 0 5px 0;
    text-align: center;
}
.contenedor-info {
    margin: 15px auto 0 auto;
}
.contenedor-info p {
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    margin: 10px auto 0 auto;
    text-align: left;
    vertical-align: middle;
    width: 40%;
}
.contenedor-info img {
    vertical-align: middle;
    width: 150px;
}

.reglas-icons {
    margin: 15px auto 5px auto;
    padding: 0;
    width: 90%;
}
.reglas-icons li {
    display: inline-block;
    vertical-align: top;
    width: 56px;
}
.reglas-icons li img {
    width: 50px;
}
.reglas-icons li p {
    color: #919191;
    font-size: 10px;
    font-weight: 300;
    margin: 0 auto;
}

.abajo {
    margin: 30px auto 0 auto !important;
}

/* --------------------------------- */
/* ------ Servicio Activo ---------- */
/* --------------------------------- */

.tarjeta-servicio-activo {
    background-color: #F4F4F4;
    border-radius: 3px;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
    margin: 120px auto 0 5%;
    height: 465px;
    width: 320px;
}
.tarjeta-servicio-activo article {
    text-align: center;
}
.tarjeta-servicio-activo article figure {
    margin: 0 auto;
    padding: 20px 0 0 0;
}
.tarjeta-servicio-activo article figure img {
    vertical-align: middle;
}
.servicio-avatar {
    width: 80px;
}
.servicio-estado {
    width: 70px;
}

.nombre-estrellas {
    margin: 5px auto 10px auto;
    width: 70%;
}
.nombre-estrellas h2 {
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    vertical-align: middle;
    width: 70%;
}
.estrellas {
    background-color: #435162;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    margin: 0 auto;
    padding:  0;
    text-align: center;
    vertical-align: middle;
}
.estrellas div {
    margin: 0 auto;
    display: inline-block;
    border-right: 1px solid white;
    padding: .25em .5em;
}
.estrellas p {
    margin: 0 auto;
    display: inline-block;
    padding: 0 .5em;
}

.servicio-datos {
    margin: 20px auto 10px auto;
    padding: 0;
    text-align: center;
}
.servicio-datos li {
    display: inline-block;
    margin: 5px;
    padding: 0;
    text-align: left;
    width: 40%;
}
.servicio-datos li img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
}
.servicio-datos li p {
    color: #919191;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
}

.direcciones-contenedor {
    margin: 30px auto 20px auto;
    width: 90%;
} 

.linea-direcciones {
    display: inline-block;
    list-style: none;
    padding: 0;
    vertical-align: middle;
}
.linea-direcciones li {
    border-style: solid;
    border-width: 2px;
    border-color: #D5D5D5;
    list-style: none;
    min-height: 10px;
    padding: 0;
    width: 10px;
}
.linea-direcciones li:nth-child(1) {
    border-top: 1;
    border-right: 0;
    border-bottom: 0;
    border-left: 1;
}
.linea-direcciones li:nth-child(2) {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 1;
    height: 45px;
}
.linea-direcciones li:nth-child(3) {
    border-top: 0;
    border-right: 0;
    border-bottom: 1;
    border-left: 1;
}

.direcciones {
    display: inline-block;
    margin: 10px auto;
    vertical-align: middle;
}

.lugar-recogida {
    margin-bottom: 30px;
}
.lugar-recogida img {
    margin-right: 5px;
    vertical-align: middle;
    width: 20px;
}
.lugar-recogida .info {
    display: inline-block;
    vertical-align: middle;z
}
.lugar-entrega {
    text-align: left;
}
.lugar-entrega img {
    margin-right: 5px;
    vertical-align: middle;
    width: 20px;
}
.lugar-entrega .info {
    display: inline-block;
    vertical-align: middle;z
}
.info h4 {
    color: #435162;
    font-size: 14px;
    margin: 0 auto;
    text-align: left;
}
.info p {
    color: grey;
    margin: 0 auto;
    font-size: 16px;
    text-align: left;
}

/* ---------------------------------------- */
/* ------ Tarjeta Servicios Activos ------- */
/* ---------------------------------------- */

.servicios-activos {
    background-color: #F4F4F4;
    border-radius: 3px;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
    margin: 120px auto 0 5%;
    overflow-y: scroll;
    height: 465px;
    width: 320px;
}
.servicios-activos article {
    text-align: center;
}
.servicios-activos article figure {
    margin: 0 auto;
    padding: 80px 0 20px 0;
}
.servicios-activos article figure img {
    width: 125px;
}
.sa-header {
    margin: 0;
    position: fixed;
    width: 320px;
    z-index: 100;
}
.sa-header button {
    background-color: white;
    border: 0;
    border-radius: 3px 0 0 0;
    color: #BFBFBF;
    float: left;
    font-size: 24px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    width: 15%;
}
.servicios-activos h3 {
    background-color: white;
    border-radius: 0 3px 0 0;
    color: #333333;
    display: inline-block;
    float: left;
    font-size: 16px;
    margin: 0;
    padding: .5em 0 .5em 0;
    text-align: ce;
    z-index: 100;
    width: 85%;
}
.servicios-activos h3 span {
    color: #16C4DC;
    font-size: 18px;
    margin: 0 .25em 0 .25em;
}

.servicio-activo {
    background-color: #16C4DC;
    border-radius: 3px 0 0 3px;
    margin: 12px auto 0 3%;
    padding: 0;
    vertical-align: middle;
    position: relative;
    width: 90%;
}
.servicio-activo:nth-child(2) {
    margin: 48px auto 0 3%;
}
.servicio-activo:last-child {
    margin: 10px auto 12px 3%;
}


.sa-info {
    background-color: white;
    border-radius: 3px 0 0 3px;
    float: left;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
    width: 85%;
}
.sa-info-avatar {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    width: 70%;
}

.sa-info-avatar figure {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    width: 30px;
}
.sa-info-avatar figure img {
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    width: 100%;
}
.sa-info-avatar div {
    display: inline-block;
    margin: 0 1%;
    text-align: left;
    vertical-align: middle;
    width: 78%;
}
.sa-info-avatar div h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #435162;
    font-size: 14px;
    margin: 0 auto .25em auto;
}
.sa-info-avatar div p {
    color: #919191;
    font-size: 14px;
    margin: 0 auto;
}
.sa-orden {
    color: #424242;
    font-weight: 700;
}

.sa-estado {
    display: inline-block;
    margin: 1% auto;
    text-align: left;
    vertical-align: middle;
    width: 23%;
}

.sa-estado figure {
    display: block;
    margin: 0 auto;
}
.sa-estado figure img {
    width: 100%;
}

.sa-boton {
    border: 0;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 15%;
}
.sa-boton .sa-boton-ver {
    background-color: #16C4DC;
    border: 0;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    min-height: 55px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.sa-boton-ver:after {
    border-bottom: 28px solid transparent;
    border-left: 10px solid #16C4DC;
    border-top: 28px solid transparent;
    content: "";
    height: 0;
    top: 0;
    left: 100%;
    position: absolute;
    vertical-align: middle;
    width: 0;
}

/* ------------------------------------- */
/* ------ Alerta Agregar Entrega ------- */
/* ------------------------------------- */

.alerta-entrega {
    background-color: rgba(255, 255, 255, 0.9);
    height: 55px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.alerta-entrega:after {
    border-bottom: 29px solid transparent;
    border-left: 11px solid rgba(255, 255, 255, 0.9);
    border-top: 28px solid transparent;
    content: "";
    height: 0;
    top: 0;
    left: 100%;
    position: absolute;
    width: 0;
    z-index: 200;
}
.alerta-entrega p {
    font-size: 14px;
    margin: 5px auto 0 auto;
    text-align: center;
}
.alerta-entrega button {
    background-color: #D44966;
    border: 0;
    border-radius: 3px;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    margin: 5px auto 0 auto;
}

/* --------------------------------- */
/* ------ Servicio Terminado ------- */
/* --------------------------------- */

.servicio-terminado {
    background-color: #16C4DC;
    border-radius: 3px 0 0 3px;
    margin: 12px auto 0 3%;
    padding: 0;
    vertical-align: middle;
    position: relative;
    width: 90%;
}
.servicio-terminado:nth-child(2) {
    margin: 48px auto 0 3%;
}
.servicio-terminado:last-child {
    margin: 10px auto 12px 3%;
}


.st-info {
    background-color: #E6E6E6;
    border-radius: 3px 0 0 3px;
    float: left;
    padding: 10px 0;
    margin: 0 auto;
    text-align:center;
    width: 85%;
}
.st-info-avatar {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    width: 70%;
}

.st-info-avatar figure {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    width: 30px;
}
.st-info-avatar figure img {
    -webkit-filter: grayscale(100%); filter: grayscale(100%);
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    width: 100%;
}
.st-info-avatar div {
    display: inline-block;
    margin: 0 1%;
    text-align: left;
    vertical-align: middle;
    width: 78%;
}
.st-info-avatar div h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #919191;
    font-size: 14px;
    margin: 0 auto .25em auto;
}
.st-info-avatar div p {
    color: #919191;
    font-size: 14px;
    margin: 0 auto;
}
.st-orden {
    color: #919191;
    font-weight: 700;
}

.st-estado {
    display: inline-block;
    margin: 1% auto;
    text-align: left;
    vertical-align: middle;
    width: 23%;
}

.st-estado figure {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.st-estado figure img {
    height: 27px;
}

.st-boton {
    border: 0;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 15%;
}
.st-boton .st-boton-ver {
    background-color: #BFBFBF;
    border: 0;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    min-height: 55px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.st-boton-ver:after {
    border-bottom: 28px solid transparent;
    border-left: 10px solid #BFBFBF;
    border-top: 28px solid transparent;
    content: "";
    height: 0;
    top: 0;
    left: 100%;
    position: absolute;
    vertical-align: middle;
    width: 0;
}

/* --------------------------------- */
/* ------ Tarjeta Contenedor ------- */
/* --------------------------------- */

.tarjeta-cancelaste {
    background-color: #435162;
    border-radius: 3px;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: 300;
    margin: 120px auto 0 5%;
    height: 465px;
    width: 320px;
}
.tarjeta-cancelaste article {
    text-align: center;
}
.tarjeta-cancelaste article figure {
    margin: 0 auto;
    padding: 80px 0 20px 0;
}
.tarjeta-cancelaste article figure img {
    width: 125px;
}
.tarjeta-cancelaste h3 {
    color: #FF5565;
    font-weight: normal;
    margin: 0 auto;
    padding-top: 50%;
}


/* ---------------------- */
/* ------ Nota ---------- */
/* ---------------------- */

.tarjeta-nota {
    background-color: #F4F4F4;
    border-radius: 3px;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
    margin: 120px auto 0 5%;
    padding: 0 !important;
    height: 465px;
    width: 320px;
}
.tarjeta-nota article {
    background-color: white;
    border: 2px solid #EAEAEA;
    margin: 20px auto 0 auto;
    padding: 0 !important;
    text-align: center;
    width: 80%;
}
.tarjeta-nota h3 {
    background-color: white;
    border-radius: 3px 3px 0 0;
    margin: 0 auto;
    text-align: center;
    padding: .5em 0;
}

.nota-header {
    margin: 5px auto;
    padding: 0;
}
.nota-header figure {
    display: inline-block;
    margin: 0 auto;
    width: 40%;
}
.nota-header figure img {
    vertical-align: middle;
    width: 100px;
}
.nota-header p {
    color: #919191;
    display: inline-block;
    margin: 0 auto;
    text-align: right;
    width: 50%;
}
.nota-header p span {
    color: #424242;
    font-weight: 700;
}
.costo {
    color: #16C4DC;
    font-size: 24px;
    font-weight: 700;
    margin: 10px auto 0 auto;
}
.fecha {
    font-size: 12px;
    margin: 5px auto -20px auto;
    padding-bottom: 20px;
    border-bottom: 2px solid #EAEAEA;
    width: 80%;
}

.mensajero-nota {
    padding-top: 20px;
    border-top: 2px solid #EAEAEA;
    margin: -10px auto 0px auto;
    padding-top: 10px;
    width: 90%;
}
.servicio-avatar-nota {
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}
.servicio-avatar-nota img {
    vertical-align: middle;
    width: 100%;
}
.nombre-estrellas-nota {
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}
.nombre-estrellas-nota p {
    color: #919191;
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
}
.nombre-estrellas-nota h2 {
    font-size: 14px;
    margin: 0 auto;
    text-align: left;
}

.calificacion {
    color: #16C4DC;
    font-size: 35px;
}
.calificacion p {
    margin: 15px auto;
}

/* ---------------------- */
/* ------ Botones ------- */
/* ---------------------- */

.boton-cyan {
    background-color: #00CCE1;
    border: 0;
    border-radius: 3px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-kerning: 4px;
    font-weight: 400;
    margin: .5em auto 0 auto;
    padding: .5em 0;
    width: 90%;
}

.boton-cyan-2 {
    background-color: #00CCE1;
    border: 0;
    border-radius: 3px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-kerning: 4px;
    font-weight: 400;
    margin: 5px auto 0 auto;
    padding: .5em 0;
    width: 90%;
}

.boton-verde {
    background-color: #19d540;
    border: 0;
    border-radius: 3px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    margin: 0 auto 0 auto;
    padding: .5em 0;
    width: 90%;
}

.agregar-lugar {
    background-color: #E3E3E3;
    border: 0;
    border-radius: 0 0 3px 3px;
    color: #919191;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto 0 auto;
    padding: .75em 0;
    width: 90%;
}
.agregar-lugar:hover {
    background-color: #16C4DC;
    color: white;
}

.agregar-entrega {
    background-color: #FF5565;
    border: 0;
    border-radius: 3px 3px;
    color: white;
    font-family: 'Roboto CONDENSED', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: .25em auto 0 auto;
    padding: .25em 0;
    width: 100%;
}
.agregar-entrega:hover {
}

.boton-pedir-blako {
    background-color: #435162;
    border: 0;
    border-radius: 3px;
    color: #16C4DC;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 5px auto 0 auto;
    padding: .25em 0;
    width: 90%;
}
.boton-pedir-blako img {
    margin: 0 10px 0 auto;
    vertical-align: middle;
    width: 17px;
}

.boton-pedir-otro-blako {
    background-color: #16C4DC;
    border: 0;
    border-radius: 3px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 170px auto 0 auto;
    padding: .25em 0;
    width: 90%;
}
.boton-pedir-otro-blako img {
    margin: 0 10px 0 auto;
    vertical-align: middle;
    width: 17px;
}

.cancelar-este-blako {
    background-color: transparent;
    border: 0;
    color: #919191;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
}

/* --------------------- */
/* ------ Inputs ------- */
/* --------------------- */

input.tercios {
    width: 26%;
}

/* ---------------------- */
/* ------ Enlaces ------- */
/* ---------------------- */

.box-link {
    text-decoration: none;
}

.lugar button a {
    color: inherit;
    text-decoration: none;
}